* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

*:after, *:before{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
        
body{
    background: #4478bc;
    margin:0px;
    font-size:100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #e1f1fb;
}

.match{
    position: relative;
    background: transparent;
    width: 100%;
    height: 500px;
    justify-items: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.home{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 400px;
    justify-content:space-around;
    align-items: center;
    display: flex;
    font-size: 60px;
	overflow: hidden;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
    animation-delay: 0.2s;
}
.guest{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 400px;
    justify-content:space-around;
    align-items:center;
    display: flex;
    font-size: 60px;
	overflow: hidden;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}
.home-sets{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100px;
    justify-content:center;
    align-items: center;
    display: flex;
    color: #e1f1fb;
}
.guest-sets{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100px;
    justify-content:center;
    align-items:center;
    display: flex;
    color: #e1f1fb;
}
.sets, .sets-win{
    width: 100px;
    height: 100px;
    background-color: transparent;
    justify-content:center;
    align-items:center;
    display: flex;
    border: 3px solid #e1f1fb;
    border-radius: 10%;
    font-size: 90px;
}

.sets-win{
    background:#e9b4d1;
    color:#4478bc;
    font-weight:bold;
}

.sets-bar{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    justify-content:center;
    align-items: center;
    display: flex;
    color: #e9b4d1;
    border: 5px solid #e1f1fb;
    margin-bottom: 50px;
}

.setbox{
    width: 15%;
    height: 100%;
    border: 5px solid #e1f1fb;
    text-align: center;
    justify-content:center;
    align-items: center;
    display: flex;
    font-size: 20px;
    background: transparent;
    color: #e1f1fb;
}
.set-title{
    width: 10%;
    height: 100%;
    align-items: center;
    text-align: center;
    background: #e1f1fb;
    border: 5px solid #e1f1fb;
    justify-content:center;
}

.set-title a{
    font-size: 30px;
    color: #4478bc;
}

.set-title a:hover{
    font-size: 32px;    
    color: #e9b4d1;
}



@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.match-result{
    position: relative;
    width: 100%;
    height: 130px;
    background: transparent;
    justify-content:center;
    align-items: center;
    display: flex;
    color: #e1f1fb;
}

.dataframe{
    width: 90%;
    height: 130px;
    border: 2px solid #e1f1fb;
    border-collapse: collapse;
    font-size: 22px;
}

.dataframe tr, .dataframe tr td{
    border: 2px solid #e1f1fb;
    align-items: center;
}

.dataframe tr th{
    color: #4478bc;
    background: #e1f1fb;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e1f1fb;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    width: 40px;
    background-color: #e9b4d1;
}

h1{
    margin-top: 20px;
}

.data-visual{
    width: 100%;
    height: auto;
    background: #4478bc;
    color: #e1f1fb;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pt-collapsible{
    height: 100px;
    width: 100%;
    color: #e1f1fb;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 0px;
    background: #4478bc;
    border: 0;
    cursor: pointer;
}
.pt-collapsible1, .pt1{
    height: 100px;
    width: 100%;
    color: #e1f1fb;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 0px;
    background: #6288d4;
    border: 0;
    cursor: pointer;
}
.pt-collapsible:hover,
.pt-collapsible1:hover{
    background: #e9b4d1;
}
.pt{
    height: 100px;
    width: 100%;
    color: #e1f1fb;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 0px;
    background: #4478bc;
    border: 0;
}

.pt-sub{
    display: none;
    overflow: hidden;
    height: auto;
}


.pt-title{
    height: 100px;
    width: 100px;
    background: transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    font-size: 24px;
}

.bar-chart-left{
    width: 50%;
    height: 60px;
    align-items: start;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.bar-l{
    height: 60px;
    position: absolute;
    right: 55%;
    background: #e1f1fb;
    z-index: 1;
    color: #4478bc;
    justify-content: start;
    align-items: center;
    text-align: left;
    display: flex;
    padding-left: 5px;
}
.inbar-l{
    height: 60px;
    position: absolute;
    right: 55%;
    background: #e9b4d1;
    z-index: 2;
    justify-content: start;
    align-items: center;
    text-align: left;
    display: flex;
    padding-left: 5px;
    display: flex;
    border: 2px solid #e1f1fb;
}
.bar-chart-right{
    width: 50%;
    height: 60px;
    align-items: end;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}.bar-r{
    height: 60px;
    position: absolute;
    left: 55%;
    background: #e1f1fb;
    z-index: 1;
    color: #4478bc;
    justify-content: end;
    align-items: center;
    text-align: right;
    display: flex;
    padding-right: 5px;
}
.inbar-r{
    height: 60px;
    position: absolute;
    left: 55%;
    background: #e9b4d1;
    z-index: 2;
    justify-content: end;
    align-items: center;
    text-align: right;
    display: flex;
    padding-right: 5px;
    display: flex;
    border: 2px solid #e1f1fb;
}

.bar-r:hover,
.bar-l:hover,
.inbar-r:hover,
.inbar-l:hover{
    font-size: 24px;
}

.bar-chart-left p{
    position: absolute;
    left: -70px;
    bottom: 0;
    color: #e1f1fb;
    font-weight: bolder;
    font-size: 24px;
}

.bar-chart-right p{
    position: absolute;
    right: -70px;
    bottom: 0;
    color: #e1f1fb;
    font-weight: bolder;
    font-size: 24px;
}

.winning{
    animation: winning 1s ease-in-out infinite;
}

@keyframes winning {
	0% {
		color: #e9b4d1;
	}
	50% {
		color: #e9b4d1;
        filter:  drop-shadow(0 0 10px #e9b4d1);
        font-size: 30px;
	}
	100% {
		color: #e9b4d1;
	}
}

img{
    width: 250px;
}
.option-box{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: grid;
}
.dropdown {
    float:unset;
    overflow: hidden;
    border: 2px solid #e1f1fb;
    border-radius: 10px;
  }
  
  .dropdown .dropbtn {
    font-size: 30px;  
    border: none;
    outline: none;
    color: #4478bc;
    padding: 14px 16px;
    background-color: #e1f1fb;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #e9b4d1;
    color: #4478bc;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1f1fb;
    min-width: 160px;
    z-index: 100;
    border-radius: 10px;
    color: #4478bc;
    justify-content: center;
    align-items: center;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
  }
  
  .dropdown-content a {
    float: none;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #4478bc;
    border-radius: 50px;
    font-size: 20px; 
  }
  
  .dropdown-content a:hover {
    background-color: #e9b4d1;
    color: #e1f1fb;
    font-weight: bolder;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
