
@import url('https://fonts.cdnfonts.com/css/bad-script-2');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bad Script',cursive;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

*:after, *:before{
    font-family: 'Bad Script',cursive;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
body{
    font-family: arial;
    display: flex;
    background: linear-gradient(#081320 70% , white );
    color: white;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    width: 0px;
}

.snow_wrap{
    height: 100vh;
    width: 100%;
    background:transparent;
    background-size: cover;
    background-position: center bottom; 
    overflow: hidden;
    position: absolute;
    justify-content: center;
    text-align: center;
    display: flex;
}

.snowing, .snowing:after, .snowing:before{
    content: "";
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-image:
    radial-gradient(3px 3px at 482px 132px, #fff, transparent),
    radial-gradient(3px 3px at 569px 186px, #fff, transparent),
    radial-gradient(3px 3px at 290px 368px, #fff, transparent),
    radial-gradient(3px 3px at 587px 593px, #fff, transparent),
    radial-gradient(3px 3px at 19px 572px, #fff, transparent),
    radial-gradient(3px 3px at 569px 428px, #fff, transparent),
    radial-gradient(3px 3px at 320px 202px, #fff, transparent),
    radial-gradient(3px 3px at 582px 514px, #fff, transparent),
    radial-gradient(3px 3px at 128px 381px, #fff, transparent),
    radial-gradient(3px 3px at 372px 466px, #fff, transparent),
    radial-gradient(4px 4px at 384px 252px, #fff, transparent),
    radial-gradient(4px 4px at 599px 404px, #fff, transparent),
    radial-gradient(4px 4px at 155px 265px, #fff, transparent),
    radial-gradient(4px 4px at 159px 187px, #fff, transparent),
    radial-gradient(4px 4px at 172px 239px, #fff, transparent),
    radial-gradient(4px 4px at 238px 55px, #fff, transparent),
    radial-gradient(4px 4px at 113px 565px, #fff, transparent),
    radial-gradient(4px 4px at 466px 367px, #fff, transparent),
    radial-gradient(4px 4px at 505px 218px, #fff, transparent),
    radial-gradient(4px 4px at 589px 296px, #fff, transparent),
    radial-gradient(5px 5px at 270px 307px, #fff, transparent),
    radial-gradient(5px 5px at 115px 23px, #fff, transparent),
    radial-gradient(5px 5px at 15px 327px, #fff, transparent),
    radial-gradient(5px 5px at 249px 508px, #fff, transparent),
    radial-gradient(5px 5px at 86px 169px, #fff, transparent),
    radial-gradient(5px 5px at 595px 38px, #fff, transparent),
    radial-gradient(5px 5px at 77px 588px, #fff, transparent),
    radial-gradient(5px 5px at 477px 15px, #fff, transparent),
    radial-gradient(5px 5px at 410px 403px, #fff, transparent),
    radial-gradient(5px 5px at 68px 18px, #fff, transparent);
    background-size: 600px 600px;
    animation: snwoningAnim 5s linear infinite;
}

.snowing:after{
    position: absolute;
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-duration: 6s;
}


.snowing:before{
    position: absolute;
    margin-left: -150px;
    opacity: 0.7;
    filter: blur(1px);
    animation-duration: 8s;
}

@keyframes snwoningAnim{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(600px);
    }
}

.snowingRight, .snowingRight:after, .snowingRight:before{
    content: "";
    position: absolute;
    top: -1000px;
    right: 0;
    left: -600px;
    bottom: 0;
    z-index: -2;
    background-image:
    radial-gradient(3px 3px at 482px 132px, #fff, transparent),
    radial-gradient(3px 3px at 569px 186px, #fff, transparent),
    radial-gradient(3px 3px at 290px 368px, #fff, transparent),
    radial-gradient(3px 3px at 587px 593px, #fff, transparent),
    radial-gradient(3px 3px at 19px 572px, #fff, transparent),
    radial-gradient(3px 3px at 569px 428px, #fff, transparent),
    radial-gradient(3px 3px at 320px 202px, #fff, transparent),
    radial-gradient(3px 3px at 582px 514px, #fff, transparent),
    radial-gradient(3px 3px at 128px 381px, #fff, transparent),
    radial-gradient(5px 5px at 86px 169px, #fff, transparent),
    radial-gradient(5px 5px at 595px 38px, #fff, transparent),
    radial-gradient(5px 5px at 77px 588px, #fff, transparent),
    radial-gradient(5px 5px at 477px 15px, #fff, transparent),
    radial-gradient(5px 5px at 410px 403px, #fff, transparent),
    radial-gradient(5px 5px at 68px 18px, #fff, transparent);
    background-size: 600px 1000px;
    animation: snwoningAnimRight 20s linear infinite;
    filter: blur(1px);
}

.snowingRight:after{
    position: absolute;
    margin-left: -200px;
    filter: blur(2px);
    animation-duration: 22s;
}


.snowingRight:before{
    position: absolute;
    margin-left: -300px;
    filter: blur(1px);
    animation-duration: 30s;
}

@keyframes snwoningAnimRight{
    from{
        transform: translate(0, 0);
    }
    to{
        transform: translate(600px, 1000px);
    }
}

.snowingLeft, .snowingLeft:after, .snowingLeft:before{
    content: "";
    position: absolute;
    top: -1200px;
    right: -600px;
    left: 0;
    bottom: 0;
    z-index: -2;
    background-image:
    radial-gradient(3px 3px at 372px 466px, #fff, transparent),
    radial-gradient(4px 4px at 384px 252px, #fff, transparent),
    radial-gradient(4px 4px at 599px 404px, #fff, transparent),
    radial-gradient(4px 4px at 155px 265px, #fff, transparent),
    radial-gradient(4px 4px at 238px 55px, #fff, transparent),
    radial-gradient(4px 4px at 113px 565px, #fff, transparent),
    radial-gradient(4px 4px at 466px 367px, #fff, transparent),
    radial-gradient(5px 5px at 15px 327px, #fff, transparent),
    radial-gradient(5px 5px at 249px 508px, #fff, transparent),
    radial-gradient(5px 5px at 86px 169px, #fff, transparent),
    radial-gradient(5px 5px at 68px 18px, #fff, transparent);
    background-size: 600px 1200px;
    animation: snwoningAnimLeft 20s linear infinite;
}

.snowingLeft:after{
    position: absolute;
    margin-left: -50px;
    opacity: 0.5;
    filter: blur(2px);
    animation-direction: reverse;
    animation-duration: 23s;
}


.snowingLeft:before{
    position: absolute;
    margin-left: -400px;
    opacity: 0.7;
    filter: blur(1px);
    animation-direction: reverse;
    animation-duration: 25s;
}

@keyframes snwoningAnimLeft{
    from{
        transform: translate(0, 0);
    }
    to{
        transform: translate(-600px, 1200px);
    }
}


.family{
    position: absolute ;
}

.yihsin{
    position: absolute ;
}
.chihhsin{
    position: absolute ;
}
.tsaihsin{
    position: absolute ;
}
.lu{
    position: absolute ;
}

.liao{
    position: absolute ;
}

h1{
    display: flex;
    font-size: 100px;
    color:white;
    top: 30%;
    z-index: 3;
}

h1 span{
    animation: animate 4s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

h2{
    position: absolute;
    display: flex;
    font-size: 50px;
    color:white;
    z-index: 3;
    top: 200px;
}

h2 span{
    animation: animate 4s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0%{
        color: #fff;
        filter: blur(2px) hue-rotate(0deg);
        text-shadow: 0 0 10px pink,
        0 0 20px pink,
        0 0 40px pink,
        0 0 80px pink,
        0 0 120px pink,
        0 0 200px pink,
        0 0 300px pink,
        0 0 400px pink;
    }
    30%,70%{
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px pink,
        0 0 20px pink,
        0 0 40px pink,
        0 0 80px pink,
        0 0 120px pink,
        0 0 200px pink,
        0 0 300px pink,
        0 0 400px pink;
    }
    100%{
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
    }
}

.snow-ground{
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    background: white;
    box-shadow: 0 0 200px white;
    filter: blur(10px);
}

.home{
    position: absolute;
    bottom: 0;
    width: 900px;
    max-width: 100%;
    color: #fff;
}

.home img{
    max-width: 100%;
    z-index: -1;
}

.home a{
    position: absolute;
    font-size: 40px;
    color: #CFCFCF;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    z-index: 2;
}

.home .yi{
    position: absolute;
    top: 30%;
    right: 40%;
    width: 10%;
    height: 17%;
    transition: .3s;
}

.home .chih{
    position: absolute;
    top: 39%;
    left: 33%;
    width: 10%;
    height: 15%;
}

.home .tsai{
    position: absolute;
    bottom: 30%;
    right: 20%;
    width: 14%;
    height: 20%;
}

.home .lu{
    position: absolute;
    top: 44%;
    left: 42%;
    width: 11%;
    height: 16%;
}

.home .liao{
    position: absolute;
    bottom: 34%;
    left: 23%;
    width: 12%;
    height: 15%;
}

.snow_wrap .date{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #142f50;
    font-size: 40px;
}

.snow_wrap .textclick{
    position: absolute;
    bottom: 10px;
    right: 50%;
    color: #142f50;
    font-size: 44px;
}

.snow_wrap#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}


#yhl,
#chl,
#thl,
#fhl,
#lcl{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vh;
    max-width: 90%;
    height: 90vh;
    font-size: 30px;
    padding: 50px;
    box-shadow: 1px 1px 10px gray, 1px 1px 10px gray;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 30px;
    padding: 5%;
}

#yhl.active,
#chl.active,
#thl.active,
#fhl.active,
#lcl.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

h3{
    font-size: 60px;
}


.popup-window a{
    color: #69a5ee;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
}

.popup-window a:hover{
    color: white;
    font-size: 25px;
}