h1 {font-size: 34px;}
h1.title {font-size: 38px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 12px;}
code {color: inherit; background-color: rgba(0, 0, 0, 0.04);}
pre:not([class]) { background-color: white }

code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}

.main-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    max-width:100%;
  }
  .tabbed-pane {
    padding-top: 12px;
  }
  .html-widget {
    margin-bottom: 20px;
  }
  button.code-folding-btn:focus {
    outline: none;
  }
  summary {
    display: list-item;
  }
  details > summary > p:only-child {
    display: inline;
  }
  pre code {
    padding: 0;
  }

  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  .dropdown-submenu:hover>a:after {
    border-left-color: #adb5bd;
  }
  .dropdown-submenu.pull-left {
    float: none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
  }

  .tabset-dropdown > .nav-tabs {
    display: inline-table;
    max-height: 500px;
    min-height: 44px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .tabset-dropdown > .nav-tabs > li.active:before {
    content: "";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #ddd;
  }
  
  .tabset-dropdown > .nav-tabs.nav-tabs-open > li.active:before {
    content: "&#xe258;";
    border: none;
  }
  
  .tabset-dropdown > .nav-tabs.nav-tabs-open:before {
    content: "";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #ddd;
  }
  
  .tabset-dropdown > .nav-tabs > li.active {
    display: block;
  }
  
  .tabset-dropdown > .nav-tabs > li > a,
  .tabset-dropdown > .nav-tabs > li > a:focus,
  .tabset-dropdown > .nav-tabs > li > a:hover {
    border: none;
    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
  }
  
  .tabset-dropdown > .nav-tabs.nav-tabs-open > li {
    display: block;
    float: none;
  }
  
  .tabset-dropdown > .nav-tabs > li {
    display: none;
  }
  .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #222;
}

#TOC {
    margin: 25px 0px 20px 0px;
  }
  @media (max-width: 768px) {
  #TOC {
    position: relative;
    width: 100%;
  }
  }
  
  @media print {
  .toc-content {
    /* see https://github.com/w3c/csswg-drafts/issues/4434 */
    float: right;
  }
  }
  
  .toc-content {
    padding-left: 30px;
    padding-right: 40px;
  }
  
  div.main-container {
    max-width: 1200px;
  }
  
  div.tocify {
    width: 20%;
    max-width: 260px;
    max-height: 85%;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    div.tocify {
      width: 25%;
    }
  }
  
  @media (max-width: 767px) {
    div.tocify {
      width: 100%;
      max-width: none;
    }
  }
  
  .tocify ul, .tocify li {
    line-height: 20px;
  }
  
  .tocify-subheader .tocify-item {
    font-size: 0.90em;
  }
  
  .tocify .list-group-item {
    border-radius: 0px;
  }

progress {
  height: 28px;
  border-radius: 12px;
  width: 0;
  min-width: 100%;
}
progress::before {
  content: "Loading: " attr(value) "/365";
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #DB7093;
}
progress::-webkit-progress-bar {
         background-color: white;
      }
      progress::-webkit-progress-value {
         background-color: #FFD9EB;
      }

  div.story {
    border: 0px solid black;
    border-radius: 16px;
    background-color: #DB7093;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    box-shadow: 1px 1px 10px gray, 1px 1px 10px gray;
  }
  div.signup {
    border: 0px solid black;
    border-radius: 16px;
    background-color: #DB7093;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    max-width: 100%;
    box-shadow: 1px 1px 10px gray, 1px 1px 10px gray;
  }
  button {
    background-color: #FFD9EB;
    border: none;
    border-radius: 16px;
    color: #DB7093;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

  div.story-long{
    border: 0px solid black;
    border-radius: 16px;
    background-color: #DB7093;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    box-shadow: 1px 1px 10px gray, 1px 1px 10px gray;
  }


  div.v4j {
    text-align: center;
  }

  .snowing, .snowing:after, .snowing:before{
    content: "";
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
    background-image:
    radial-gradient(3px 3px at 482px 132px, #fff, transparent),
    radial-gradient(3px 3px at 569px 186px, #fff, transparent),
    radial-gradient(3px 3px at 290px 368px, #fff, transparent),
    radial-gradient(3px 3px at 587px 593px, #fff, transparent),
    radial-gradient(3px 3px at 19px 572px, #fff, transparent),
    radial-gradient(3px 3px at 569px 428px, #fff, transparent),
    radial-gradient(3px 3px at 320px 202px, #fff, transparent),
    radial-gradient(3px 3px at 582px 514px, #fff, transparent),
    radial-gradient(3px 3px at 128px 381px, #fff, transparent),
    radial-gradient(3px 3px at 372px 466px, #fff, transparent),
    radial-gradient(4px 4px at 384px 252px, #fff, transparent),
    radial-gradient(4px 4px at 599px 404px, #fff, transparent),
    radial-gradient(4px 4px at 155px 265px, #fff, transparent),
    radial-gradient(4px 4px at 159px 187px, #fff, transparent),
    radial-gradient(4px 4px at 172px 239px, #fff, transparent),
    radial-gradient(4px 4px at 238px 55px, #fff, transparent),
    radial-gradient(4px 4px at 113px 565px, #fff, transparent),
    radial-gradient(4px 4px at 466px 367px, #fff, transparent),
    radial-gradient(4px 4px at 505px 218px, #fff, transparent),
    radial-gradient(4px 4px at 589px 296px, #fff, transparent),
    radial-gradient(5px 5px at 270px 307px, #fff, transparent),
    radial-gradient(5px 5px at 115px 23px, #fff, transparent),
    radial-gradient(5px 5px at 15px 327px, #fff, transparent),
    radial-gradient(5px 5px at 249px 508px, #fff, transparent),
    radial-gradient(5px 5px at 86px 169px, #fff, transparent),
    radial-gradient(5px 5px at 595px 38px, #fff, transparent),
    radial-gradient(5px 5px at 77px 588px, #fff, transparent),
    radial-gradient(5px 5px at 477px 15px, #fff, transparent),
    radial-gradient(5px 5px at 410px 403px, #fff, transparent),
    radial-gradient(5px 5px at 68px 18px, #fff, transparent);
    background-size: 600px 600px;
    animation: snwoningAnim 5s linear infinite;
}

.snowing:after{
    position: absolute;
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-direction: reverse;
    animation-duration: 6s;
}


.snowing:before{
    position: absolute;
    margin-left: -150px;
    opacity: 0.7;
    filter: blur(1px);
    animation-direction: reverse;
    animation-duration: 8s;
}

@keyframes snwoningAnim{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(600px);
    }
}

.snow_wrap{
	height: auto;
	width: 100%;
	background:transparent;
	background-size: cover;
	background-position: center bottom; 
	overflow: hidden;
	position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
}